@charset "utf-8";

* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
body {color: #333;}


/* header */
header {
    width: 100%; height: 100px;
    /* line-height: 100px; */
    background-color: #ffffff86;
    position: fixed;
    top: 0; left: 0;
    backdrop-filter: blur(10px);
}
header .inner {
    width: 1440px; height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner h1 a img {
    height: 95px;
}
header .inner nav>ul>li {
    display: inline-block;
    margin-left: 40px;
    text-align: center;
}
/* 2차메뉴 */  /* ->>> 영역탈출 - vertical:top 쓰면 헤더꼭대기에 붙음 */
header .inner nav .depth {
    display: none;
    background-color: rgba(220, 20, 60, 0.548);
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; 차이점 공간여부 */
}
header .inner nav .depth li {
    padding: 15px;
    text-align: center;
}
header .inner nav>ul>li:hover .depth {
    display: block;
    color: aliceblue;
}

/* .main_visual */
main .main_visual {
    height: 100%;
    position: relative;
    z-index: -1;
}
main .main_visual figure img {
    width: 100%; height: 100%;
    object-fit: cover;   
}
main .main_visual .main_text {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
main .main_visual .main_text h2 {
    color: crimson;
    font-size: 100px;
}
main .main_visual .main_text p {
    color: rgb(255, 255, 255);
    font-size: 27px;
    word-break: keep-all;
}

/* .title */
main .title h2 {
    width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
}

/* .cont01 */  /* ->>>헤더고정값 안먹힘 */
.cont01 {
    width: 1440px;
    margin: 200px auto;
}
.cont01 .list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cont01 .list .item {
    width: calc(100% / 3 - 20px);
    height: 55vh;
    border: 1px solid #ff4040;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.cont01 .list .item .figure {
    width: 100%;
    height: 100%;
}
.cont01 .list .item .figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont01 .list .item .text { 
    text-align: center;
    position: absolute;
    top: 0; left: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.527);
    width: 100%; height: 100%;
    /* line-height: 55vh; -> 쓰면 p가 사라짐 */
    opacity: 0;
    transition: 0.7s;
}
.cont01 .list .item .text h3 {
    color: crimson;
    font-size: 25px;
    margin-bottom: 12px;
}
.cont01 .list .item .text p {
    font-size: 18px;
}
.cont01 .list .item:nth-child(1):hover .text {
    opacity: 1;
    transition: 0.7s;
}
.cont01 .list .item:nth-child(2):hover .text {
    opacity: 1;
    transition: 0.7s;
    top: 50%;
}
.cont01 .list .item:nth-child(3):hover .text {
    opacity: 1;
    transition: 0.7s;
}

/* .cont2 */
.cont02{
    margin-top: 300px;
    width: 1440px;
    margin: 0 auto;
}
.cont02 .item {
    height: 55vh; /* 무슨기준? */
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: bisque; */
}
.cont02 .item figure {
    width: 50%; height: 100%;
}
.cont02 .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont02 .item div {
    padding: 50px;
    width: 50%;
    box-sizing: border-box;
}
.cont02 .item:nth-child(2) div {
    order: -1;
}
.cont02 .item div h3 {
    font-size: 50px;
    color: #ff4040;
    margin-bottom: 30px;
}
.cont02 .item div p {
    font-size: 25px;
    color: #474747;
}
.cont02 .item div a {
    margin-top: 60px;
    display: inline-block;
    width: 150px; height: 50px;
    line-height: 50px;
    text-align: center;
    border: 2px solid #ff4040;
    border-radius: 15px;
    font-size: 20px;
    background-color: #ffffff;
    color: #ff4040;
}
.cont02 .item div a:hover {
    background-color: #ff40407c;
    color: #ffffff;
}


/* .footer */
footer {
    width: 100%;
    height: 100px;
    margin-top: 200px;
    margin-left: 50px;
}
footer .bottom {
    display: flex;
    align-items: center;
    padding-right: 50px;
    border-top: 1px solid #33333348;
}
footer .bottom figure {
    height: 100%;
}
footer .bottom figure img {
    height: 95px;
}
footer .bottom .info{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    line-height: 1.8;
}