@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Caveat&family=Noto+Sans+KR:wght@300;500;700&family=Pacifico&display=swap');
/* font-family: 'Cabin', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Pacifico', cursive; */

html {scroll-behavior: smooth;}
*{margin: 0; padding: 0;}
body {font-family: 'Noto Sans KR', sans-serif;}
li {list-style: none;}
a {text-decoration: none; color: #333;}
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.cabin {font-family: 'Cabin', sans-serif;}
.noto {font-family: 'Noto Sans KR', sans-serif;}


/* 레이아웃 */
#loading {
    background-color: #ff9d10;
    width: 100%; height: 100vh;
    position: relative;
    z-index: 999;
    overflow: hidden;
}
#intro {
    background-color: #ff9d10;
    /* width: 100vw; height: 100vh; */
}
#header {
    height: 300vh;
}

/* 마우스커서 */
body .cursor_wrap {height: 100%; width: 100%;}
body .cursor {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 25px; height: 25px;
    background-color: #ff6600;
    border-radius: 50%;
    z-index: 9999;
    display: flex;
}


/* LOADING */
#loading.hide {
    transform: translateY(-130%); 
    transition: 1.5s cubic-bezier(.215,.61,.355,1);
    will-change: transform;
}
#loading > .loading-inner {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    overflow: hidden;
}
#loading .flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
#loading .spell > span {
    display: block; 
    width: auto; height: 60px; 
    line-height: 60px; 
    font-weight: 400; font-size: 40px; 
    text-align: center; 
    color: #fff;
}

#loading .spell:nth-child(1) {
    animation: count3 forwards .15s linear, 
    count3_2 forwards .5s ease-out, 
    count3_last forwards .5s ease-out;
    animation-delay: 0s, 1s, 2s;
}
#loading .spell:nth-child(2) {
    animation: count2 forwards 1s linear, 
    count1_3 forwards .5s linear, 
    count1_last forwards .5s ease-out; 
    animation-delay: 0s, 1.95s, 3.45s;
}
#loading .spell:nth-child(3) {
    animation: count1 forwards .1s linear, 
    count1_2 forwards .1s linear,
    count1_3 forwards .5s ease-out,
    count1_last forwards .5s ease-out;
    animation-iteration-count: 8, 1, 1, 1;
    animation-delay: 0s, 1s, 2s, 3.5s;
}
#loading .spell:nth-child(4){
    animation: count4 forwards .5s ease-out,
    count4_2 forwards .5s ease-out;
    animation-delay: 0s, 2.1s;
}


@keyframes count1 {
    100% {transform: translateY(-600px); will-change: transform;}
}
@keyframes count1_2 {
    100% {transform: translateY(-600px); will-change: transform;}
}
@keyframes count1_3 {
    0% {transform: translateY(-600px); will-change: transform;}
    100% {transform: translateY(-660px); will-change: transform;}
}
@keyframes count1_last {
    0% {transform: translateY(-660px); will-change: transform;}
    100% {transform: translateY(-720px); will-change: transform;}
}
@keyframes count2 {
    10% {transform: translateY(-60px); will-change: transform;}
    20% {transform: translateY(-120px); will-change: transform;}
    30% {transform: translateY(-180px); will-change: transform;}
    40% {transform: translateY(-240px); will-change: transform;}
    50% {transform: translateY(-300px); will-change: transform;}
    60% {transform: translateY(-360px); will-change: transform;}
    70% {transform: translateY(-420px); will-change: transform;}
    80% {transform: translateY(-480px); will-change: transform;}
    90% {transform: translateY(-540px); will-change: transform;}
    100% {transform: translateY(-600px); will-change: transform;}
}
@keyframes count3 {
    100% {transform: translateY(-270px); will-change: transform;}
}
@keyframes count3_2 {
    0% {transform: translateY(-270px); will-change: transform;}
    100% {transform: translateY(-330px); will-change: transform;}
}
@keyframes count3_last {
    0% {transform: translateY(-330px); will-change: transform;}
    100% {transform: translateY(-390px); will-change: transform;}
}
@keyframes count4 {
    0% {transform: translateY(-270px); will-change: transform;}
    100% {transform: translateY(-300px); will-change: transform;}
}
@keyframes count4_2 {
    0% {transform: translateY(-300px); will-change: transform;}
    100% {transform: translateY(-360px); will-change: transform;}
}

/* 인트로 사진 */
.img_wrap {
    width: 100%;
}
.img_wrap .imgs {
    position: absolute;
    width: 270px; height: 440px;
    background-color: #fffbe9;
    border-radius: 10px;
    box-shadow: 2px 3px 9px #a8631543;
}
.img_wrap .imgs figure {
    width: 250px; height: 333px;
}
.img_wrap .imgs figure img {
    width: 100%;
}

/* .img_wrap .imgs figure {
    perspective: 600px;
    pointer-events: none;
}
.img_wrap .imgs figure img {
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.img_wrap .imgs figure:hover img {
    transform: rotateY(180deg);
} */

.img_wrap .imgs:nth-child(1){
    top: 5%; left: 6%;
    transform: rotate(-5deg);
    animation: images1 1s linear 3s forwards;
    opacity: 0;
}
.img_wrap .imgs:nth-child(2){
    top: 30%; left: 24%;
    transform: rotate(9deg);
    animation: images2 1s linear 3.8s forwards;
    opacity: 0;
}
.img_wrap .imgs:nth-child(3){
    top: 30%; right: 28%;
    transform: rotate(-5deg);
    animation: images3 0.5s linear 4.3s forwards;
    opacity: 0;
}
.img_wrap .imgs:nth-child(4){
    top: 15%; right: 5%;
    transform: rotate(7deg);
    animation: images4 1s linear 4.8s forwards;
    opacity: 0;
}
.img_wrap .imgs figure {
    position: absolute;
    top: 19px; left: 20px;
    width: 230px; height: 360px;
    object-fit: cover;
}
.img_wrap .imgs figure img {
    width: 100%;
    display: block;
    border-radius: 2px;
    transition: transform 0.3s;
}
.img_wrap .imgs p {
    margin-top: 362px;
    margin-left: 68px;
    box-sizing: border-box;
    font-size: 35px;
    font-family: 'Caveat', cursive;
}

@keyframes images1 {
    0% {opacity: 0; transform: translateY(-50px) translateX(-50px) rotate(0deg);}
    100% {opacity: 1; transform: translateY(0px) translateX(0px) rotate(-5deg);;}
}
@keyframes images2 {
    0% {opacity: 0; transform: translateY(-40px) rotate(2deg);}
    100% {opacity: 1; transform: translateY(0px) rotate(9deg);;}
}
@keyframes images3 {
    0% {opacity: 0; transform: translateY(-40px) rotate(1deg);}
    100% {opacity: 1; transform: translateY(0px) rotate(-5deg);;}
}
@keyframes images4 {
    0% {opacity: 0; transform: translateY(-40px) translateX(60px) rotate(-3deg);}
    100% {opacity: 1; transform: translateY(0px) translateX(0px) rotate(7deg);;}
}



/* 인트로 글자 */
.i_wrap {
    height: 100%;
}
.i_wrap .i_title {
    position: absolute;
    bottom: 0%; left: 1%;
    animation: intro 3s ease-in-out 0.3s 1;
}
.i_wrap .i_title span {
    font-family: 'Pacifico', cursive;
    font-weight: 800;
    letter-spacing: -2px;
    display: inline-block;
    font-size: 140px;
    color: #ff7c03;
}
.i_wrap .i_title span.dis {
    animation: dis 2s ease-in-out 3s 1;
}
.i_wrap .i_title span.end {
    animation: end 2s ease-in-out 3s 1;
}

@keyframes intro {
    0% {left: -100%;}
    70% {left: 2%;}
    100% {left: 2%;}
}

@keyframes dis {
    0% {opacity: 1;}
    30% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes end {
    0% {transform: translateX(0);}
    50% {transform: translateX(-750px);}
    80% {transform: translateX(-750px);}
    100% {transform: translateX(0px);}
}


/* -------------------header------------------- */
.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #ff9d10;
    height: 100%;
}
.header .h_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px; margin-top: 30px;
    box-sizing: border-box;
    width: 100%; height: 85px;
    background-color: #fff;
    border-radius: 70px;
    box-shadow: 2px 3px 9px #a863157a;
}
.h_inner .logo {
    width: 90px; height: 90px;
}
.h_inner .logo img {
    width: 100%;
    padding: 10px 45px 10px;
}
.h_inner .menu_left ul {
    display: flex;
    justify-content: space-between;
}
.h_inner .menu_left ul>li {
    position: relative;
    margin: 0 20px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 85px;
    box-sizing: border-box;
    z-index: 10;
}
.h_inner .menu_left>ul>li::before {
    content: '{';
    position: absolute;
    top: 0px; left: -13px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px; font-weight: bold;
    color: #476cff;
    opacity: 0;
    transition: 0.5s;
}
.h_inner .menu_left>ul>li:hover::before {
    opacity: 1;
}
.h_inner .menu_left>ul>li::after {
    content: '}';
    position: absolute;
    top: 0px; right: -13px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px; font-weight: bold;
    color: #c0f21d;
    opacity: 0;
    transition: 0.5s;
}
.h_inner .menu_left>ul>li:hover::after {
    opacity: 1;
}
.h_inner .menu_left>ul>li>a::before{
    content: '';
    position: absolute;
    top: 30px;
    width: 0%; height: 20px;
    background-color: #ffec3da9;
    transition: 0.3;
    z-index: -30;
}
.h_inner .menu_left>ul>li>a:hover::before {
    width: 100%;
}


/* 2차메뉴 */
.h_inner .menu_left .depth {
    position: absolute;
    top: 84px; left: -28px;
    flex-direction: column;
    background-color: rgba(255,255,255,0.8);
    border-radius: 0 0 5px 5px;
    width: 100px; /* 100%로 하니 부모넓이 따라가서 값 설정 */
    padding: 20px;
    display: none;
}
.h_inner .menu_left .depth li {
    line-height: 45px;
    text-align: center;
    margin: auto;
}
.h_inner .menu_left .depth li:first-child {padding-top: 0;}
.h_inner .menu_left .depth li:last-child {padding-bottom: 0;}
.h_inner .menu_left .depth li a {
    font-size: 14px; font-weight: 400;
    color: #4d4d4d;
    display: inline-block;
}
.h_inner .menu_left .depth li:hover a {color: #ff771d;}


.h_inner .menu_right {}
.h_inner .menu_right ul {
    display: flex;
}
.h_inner .menu_right ul li {
    margin: 0 7px;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.h_inner .menu_right ul li a {
    transition: 0.3s;
}
.h_inner .menu_right ul li:hover a {
    color: #ff771d;
    transform: translateY(-5px);
}
.h_inner .menu_right ul li:last-child {
    width: 90px; height: 40px;
    background-color: #ff6600;
    border-radius: 70px;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
}
.h_inner .menu_right ul li:last-child:hover {
    background-color: #ff802c;
}
.h_inner .menu_right ul li:last-child:hover a {
    transform: none;
}
.h_inner .menu_right ul li:last-child a {
    color: #fff;
    font-size: 15px;
}